//########################################
//## SIZES ###############################
//########################################

$root-font-size: (null: 10px);
$h1-font-size:(null:4.2rem,$responsive-screen-md:3.2rem,$responsive-screen-sm:2.4rem);
$h2-font-size:(null:2.8rem,$responsive-screen-md:2.4rem,$responsive-screen-sm:1.8rem);
$h3-font-size:(null:2rem,$responsive-screen-lg:1.8rem,$responsive-screen-sm:1.6rem);
$p-font-size:(null:1.6rem,$responsive-screen-sm:1.4rem,$responsive-screen-xs:1.4rem);
$a-font-size:(null:1.6rem);
$a-smaller-font-size:(null:1.4rem);
$label-font-size:(null:1.4rem);
$th-font-size:(null:1.4rem);
$td-font-size:(null:1.4rem);
$footer-a-font-size:(null:1.2rem, $responsive-screen-md: 2.5rem);
$footer-copy-font-size:(null:1.2rem);

