$c-night-blue: #272532;
$c-blush: #9b6b8c;
$c-dark-sky-blue: #171a29;
$c-dark-grey-blue: #25304a;
$c-cool-grey: #88917f;
$c-cool-grey-two: #b5b8c0;
$c-white: #eaeaea;
$c-white-two: #f7f7f7;
$c-pale-teal: #6FC5AF;
$footerColor: $c-night-blue;